.role_box {
    border: 1px solid var(--blue);
    border-radius: 8;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 46%;
}

.number {
    color: var(--white);
    background-color: var(--blue);
    width: fit-content;
    padding: 0 8px;
    border-radius: 16px;
}

.title {
    font-size: 1.5em;
}

.text {
    font-size: 0.75em;
    line-height: 2em;
}