:root {
    --brack: #444444;
    --white: #ffffff;
    --blue: #1571DA;
    --font_inter: 'Inter', sans-serif;
    --black_shadow: 2px 2px 4px rgba(0, 0, 0, 0.25)
    --blue_shadow: 1px 1px 4px rgba(21, 113, 218, 0.4)
}

body {
    font-family: 'Noto sans JP', sans-serif;
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
}