.main_visual {
    position: relative;
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    margin-bottom: 160px;
}

.mv {
    object-fit: cover;
    position: absolute;
    inset: 0; /* top:0; right:0; bottom:0; left:0 */
    width: 100%;
    height: 800px;
    z-index: 0;
}

.mv_copy {
    position: relative;
    z-index: 2;
    max-width: 92%;
    margin: 0 auto;
    top: 80px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.sub_copy {
    color: #84F5FF;
    font-size: 1.5em;
    letter-spacing: 16%;
    text-shadow: var(--black_shadow);
}

.main_copy {
    color: var(--white);
    font-family: var(--font_inter);
    font-size: 7.5em;
    font-weight: bold;
    line-height: 1.1em;
    text-shadow: var(--black_shadow);
}

.mv_text {
    color: var(--white);
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: 0.16em;
    text-shadow: var(--black_shadow);
}

.mv_btn {
    display: flex;
    gap: 24px;
}

.contact_btn,
.consul_btn {
    display: inline-block;
    width: 250px;
    text-align: center;
    text-decoration: none;
    line-height: 60px;
    outline: none;
    color: var(--white);
    background-color: var(--blue);
    position: relative;
    border: 1px solid var(--blue);
    border-radius: 4;
    transition: color 0.5s ease;

    &:hover {
        color: var(--blue);
    }

    &:hover::before {
        transform: scaleX(1);
        transform-origin: left;
    }

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background: var(--white);
        transform: scaleX(0);
        transform-origin: right;
        transition: all 0.5s ease;
        transition-property: transform;
    }
}

.contact_btn_text,
.consul_btn_text {
    position: relative;
    font-weight: 600;
}

.consul_btn {
    color: var(--blue);
    background-color: var(--white);

    &:hover {
        color: var(--white);
    }

    &::before {
        /* background: var(--blue); */
        background-image: linear-gradient(45deg, #944EFC, #4052F4);
    }
}



/* ----------------------
AGENT IN ACTION
---------------------- */

.agent_in_action_wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1080px;
    height: auto;
    margin: 0 auto 160px;
    gap: 80px;
}

.agent_in_action_inner {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.text {
    color: var(--black);
    line-height: 1.75em;
}

.line {
    border: 0.05em solid var(--gray);
}

.number_mark {
    display: flex;
    gap: 16px;
}

.sub_text {
    color: var(--gray);
}

.agent_card {
    transition-duration: .4s;

    &:hover {
        transform: scale(1.1);
    }
}


/* ----------------------
THE NUMBERS
---------------------- */
.the_numbers {
    background-image: linear-gradient(90deg, #1571da, #7aabe3);
    width: 100%;
    height: auto;
    margin-bottom: 160px;
    padding: 80px 0;
    position: relative;
}

.hexagon_2 {
    position: absolute;
    top: 1%;
    right: 2%;
    z-index: 1;
}

.hexagon {
    position: absolute;
    bottom: 16%;
    left: -1%;
    z-index: 1;
}

.hexagon_2,
.hexagon {
    /* アニメーション名、再生時間、変化の速度、ループ設定 */
    animation: fluffy-anime 2.5s ease-in-out infinite alternate-reverse;
    }

    @keyframes fluffy-anime {
    0% {
        transform: translateY(0); /* 通常の位置 */
    }
    100% {
        transform: translateY(-40px); /* 上に15px移動 */
    }
}

.the_numbers_wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1080px;
    height: auto;
    margin: 0 auto;
    gap: 16px;
    position: relative;
    z-index: 10;
}

.the_numbers_inner {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: var(--white);
    margin-bottom: 40px;

    .text {
        color: var(--white);
    }
}

.section_name_white {
    letter-spacing: 8%;
    font-weight: 500;
}

.section_ttl_white {
    font-size: 3em;
    line-height: 1.5em;
}

.numbers_box {
    color: var(--white);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 24px;
}

.box {
    border: 1px solid rgba(255, 255, 255, .7);
    border-radius: 16;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 44%;
    /* backdrop-filter: blur(3px); ガラスフィルター */
}

.box_one {
    background-image: linear-gradient(45deg, #3E5FDA, #223EA4);
}

.box_two {
    background-image: linear-gradient(45deg, #325FFE, #42A3F6);

    .human_graph_line {
        width: 300px;
    }

    .agent {
        width: 60px;
    }

    .agent_graph_line {
        width: 60px;
    }
}

.box_three {
    background-image: linear-gradient(45deg, #319F8A, #35CCB0);

    .human_graph_line {
        width: 320px;
    }

    .agent {
        width: 59px;
    }

    .agent_graph_line {
        width: 10px;
    }
}

.box_four {
    background-image: linear-gradient(45deg, #944EFC, #4052F4);

    .human_graph_line {
        width: 280px;
    }

    .agent {
        width: 30px;
    }

    .agent_graph_line {
        width: 10px;
    }
}

.box_ttl {
    display: flex;
    gap: 16px;
    font-size: 1.5em;
    line-height: 1.75em;
}

.month_time {
    font-size: 1em;
    font-weight: 400;
}

.gauge {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.human_graph {
    display: flex;
    align-items: center;
    gap: 16px;
}

.human_graph_line {
    width: 64px;
    height: 8px;
    background-color: var(--gray_line);
    border-radius: 4;
}

.agent_graph {
    display: flex;
    align-items: center;
    gap: 16px;
}

.agent {
    width: 32px;
}

.agent_graph_line {
    width: 390px;
    height: 8px;
    background-image: linear-gradient(45deg, #11D3E2, #45E2C6);
    border-radius: 4;
}

.numbers_group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.numbers_large {
    font-size: 5em;
    line-height: 0.75em;

    span {
        font-size: 1.5rem;
        margin-left: 8px;
    }
}

.numbers_sub {
    font-size: 1.5em;
}

.numbers_text {
    font-weight: 300;
    line-height: 1.5em;
}

.note {
    font-size: 0.8em;
    font-weight: 300;
}

.recruit {
    display: flex;
    justify-content: space-between;
    background-color: rgba(62, 95, 218, 0.2);
    border: 1px solid rgba(255, 225, 255, 1);
    border-radius: 16;
    padding: 24px;
    align-items: center;
}

.recruit_group {
    color: var(--white);
}

.limited {
    font-size: 1.5em;
    margin-bottom: 8px;
}

.recruit_contact_btn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: var(--white);
    background-image: linear-gradient(45deg, #319F8A, #35CCB0);
    position: relative;
    border-radius: 24;
    transition: color 0.5s ease;
    height: fit-content;
    padding: 12px 16px;

    &:hover {
        color: #319F8A;
    }

    &:hover::before {
        transform: scaleX(1);
        transform-origin: left;
    }

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background: var(--white);
        transform: scaleX(0);
        transform-origin: right;
        transition: all 0.5s ease;
        transition-property: transform;
        border-radius: 24;
    }
}

.recruit_contact_btn_text {
    position: relative;
    font-weight: 600;
}


/* --------------
TRY IT NOW
-------------- */
.try_it_now_wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    max-width: 1080px;
    margin: 0 auto 160px;
}


/* --------------
A NEW STANDARD
-------------- */

.a_new_standard_wrapper {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto 160px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.axis_box_group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.axis_box {
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
    /* gap: 16px; */
    padding: 24px;
    box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.24);
    border-radius: 16;
}

.axis_group {
    display: flex;
    flex-direction: column;
}

.axis {
    font-size: 1.5em;
    color: var(--blue);
    letter-spacing: 0.8;
}

.axis_ttl {
    font-size: 2.5em;
    color: var(--blue);
    margin-bottom: 24px;
}

.axis_text {
    font-weight: 300;
}

.axis_group_img {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sup {
    font-size: 0.8em;
    color: #999999;
}


/* --------------
EXPLORE
-------------- */

.explore_wrapper {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto 160px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.explore_group {
    display: flex;
    gap: 16px;
}

.explore_btn {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.24);
    border-radius: 16;
    text-decoration: none;
    width: 100%;
    transition: all 0.3s ease;

    &:hover {
        background-color: #d4e6fa;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.24);
    }

    &:visited {
        color: var(--black);
    }
}

.explore_ttl {
    color: var(--black);
    font-size: 1.5em;
}

.explore_text {
    color: var(--black);
    font-size: 0.75em;
}

.detail_btn {
    color: var(--blue);
}