.main_visual {
    position: relative;
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    margin-bottom: 160px;
}

.mv {
    object-fit: cover;
    position: absolute;
    inset: 0; /* top:0; right:0; bottom:0; left:0 */
    width: 100%;
    height: auto;
    z-index: 0;
}

.mv_copy {
    position: relative;
    z-index: 2;
    max-width: 92%;
    margin: 0 auto;
    top: 80px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.sub_copy {
    color: #84F5FF;
    font-size: 1.5em;
    letter-spacing: 16%;
    text-shadow: var(--black_shadow);
}

.main_copy {
    color: var(--white);
    font-family: var(--font_inter);
    font-size: 7.5em;
    font-weight: bold;
    line-height: 1.1em;
    text-shadow: var(--black_shadow);
}

.mv_text {
    color: var(--white);
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: 0.16em;
    text-shadow: var(--black_shadow);
}

.mv_btn {
    display: flex;
    gap: 24px;
}

.contact_btn,
.consul_btn {
    display: inline-block;
    width: 250px;
    text-align: center;
    text-decoration: none;
    line-height: 60px;
    outline: none;
    color: var(--white);
    background-color: var(--blue);
    position: relative;
    border: 1px solid var(--blue);
    transition: color 0.5s ease;

    &:hover {
        color: var(--blue);
    }

    &:hover::before {
        transform: scaleX(1);
        transform-origin: left;
    }

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background: var(--white);
        transform: scaleX(0);
        transform-origin: right;
        transition: all 0.5s ease;
        transition-property: transform;
    }
}

.contact_btn_text,
.consul_btn_text {
    position: relative;
    font-weight: 600;
}

.consul_btn {
    color: var(--blue);
    background-color: var(--white);

    &:hover {
        color: var(--white);
    }

    &::before {
        background: var(--blue);
    }
}



/* ----------------------
AGENT IN ACTION
---------------------- */

.agent_in_action_wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1080px;
    height: auto;
    margin: 0 auto 160px;
    gap: 80px;
}

.agent_in_action_inner {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.text {
    color: var(--black);
    line-height: 1.75em;
}

.line {
    border: 0.05em solid var(--gray);
}

.number_mark {
    display: flex;
    gap: 16px;
}

.sub_text {
    color: var(--gray);
}

.agent_card {
    transition-duration: .4s;

    &:hover {
        transform: scale(1.1);
    }
}


/* ----------------------
THE NUMBERS
---------------------- */
.the_numbers {
    background-image: linear-gradient(90deg, #1571da, #7aabe3);
    width: 100%;
    height: auto;
    padding: 80px 0;
}

.the_numbers_wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1080px;
    height: auto;
    margin: 0 auto 160px;
    gap: 16px;
}

.the_numbers_inner {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: var(--white);

    .text {
        color: var(--white);
    }
}

.section_name_white {
    letter-spacing: 8%;
    font-weight: 500;
}

.section_ttl_white {
    font-size: 3em;
    line-height: 1.5em;
}

.numbers_box {
    color: var(--white);
}

.box_one {
    background-image: linear-gradient(45deg, #3E5FDA, #223EA4);
    border: 1px solid rgba(255, 255, 255, .7);
    border-radius: 16;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.box_ttl {
    display: flex;
    gap: 16px;
    font-size: 1.5em;
    line-height: 1.75em;
}

.gauge {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.human_graph {
    display: flex;
    align-items: center;
    gap: 16px;
}

.human_graph_line {
    width: 64px;
    height: 8px;
    background-color: var(--gray_line);
    border-radius: 4;
}

.agent_graph {
    display: flex;
    align-items: center;
    gap: 16px;
}

.agent {
    width: 32px;
}

.agent_graph_line {
    width: 390px;
    height: 8px;
    background-image: linear-gradient(45deg, #11D3E2, #45E2C6);
    border-radius: 4;
}

.numbers_group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.numbers_large {
    font-size: 5em;
    line-height: 0.75em;

    span {
        font-size: 1.5rem;
        margin-left: 8px;
    }
}

.numbers_sub {
    font-size: 1.5em;
}