.wrapper {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto 160px;
}

.methodology_wrapper {
    margin-bottom: 160px;
    /* position: relative; */
    display: flex;
    gap: 16px;
    align-items: center;
}

.our_approach_wrapper {
    margin-bottom: 160px;
}

.phase {
    display: flex;
    gap: 16px;
    align-items: center;
}

.phase > * {
    flex: 1;
}

.map {
    background: linear-gradient(45deg, #3362FF, #42A1F6);
}

.mapType {
    color: #28B1E9;
}

.build {
    background: linear-gradient(45deg, #223EA2, #496BD5);
}

.buildType {
    color: #3E50ED;
}

.scale {
    background: linear-gradient(45deg, #32A18C, #36CAAF);
}

.scaleType {
    color: #24C56D;
}

.hr_framework_wrapper {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 160px;
}

.hr_framework_function {
    position: relative;
}

.function_img {
    position: relative;
}

.hexagon_darkblue {
    position: absolute;
    top: 0;
    right: -30%;
}

.hexagon_green {
    position: absolute;
    top: 80%;
    left: 0;
}

.function_inner {
    position: relative;
    margin-top: 24%;
}

.function_number {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    text-align: center;
    color: var(--white);
}

.number {
    font-size: 5em;
}


/* SKILL & WORKFLOW */
.skill_workflow_wrapper {
    margin-bottom: 160px;
}

.skill_workflow_group {
    display: flex;
    gap: 16px;
}

.skill_workflow_group > * {
    flex: 1;
}

.skill {
    background: linear-gradient(45deg, #3362FF, #42A1F6);
}

.implementation {
    background: linear-gradient(45deg, #223EA2, #496BD5);
}

.improvement {
    background: linear-gradient(45deg, #32A18C, #36CAAF);
}



/* RISK TIER */
.risk_tier_wrapper {
    margin-bottom: 160px;
}

.tier {
    display: flex;
    gap: 8px;
}

.tier > * {
    flex: 1;
}

.tier_one {
    color: var(--blue);
}

.tier_two {
    color: var(--purple);
}

.tier_three {
    color: var(--water);
}

.tier_four {
    color: var(--green);
}


/* SCOPE */
.scope_wrapper {
    margin-bottom: 160px;
}

.area {
    display: flex;
    gap: 16px;
    margin-bottom: 24px;
}

.area > * {
    flex: 1;
}

.bfc {
    border-left: 8px solid var(--blue);
    padding: 16px 32px;
    border-radius: 8px;
    box-shadow: var(--blue_shadow);
    background-color: var(--white);
}

.bfc_text {
    color: #999999;
    line-height: 2em;
}


/* EXPLORE */
.explore_wrapper {
    display: flex;
    gap: 16px;
}