.wrapper {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}

.methodology_wrapper {
    margin-bottom: 160px;
    position: relative;
}

.pagetitle_logo {
    position: absolute;
    top: 0;
    right: 0;
}