.wrapper {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto 160px;
}

.hybrid_wrapper {
    margin-bottom: 160px;
    display: flex;
    gap: 16px;
    align-items: center;
}

.why_hybrid_wrapper {
    margin-bottom: 160px;
}

.why_hybrid_inner {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.spectrum {
    box-shadow: var(--black_shadow);
    padding: 24px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: var(--white);
}

.spectrum_title {
    color: var(--blue);
    font-size: 1em;
}

.graph {
    display: flex;
    justify-content: space-between;
    color: var(--white);
}

.ai {
    background: linear-gradient(90deg, var(--blue), var(--white));
    width: 60%;
    padding: 16px;
    font-size: 0.8em;
    border-radius: 24px 0px 0px 24px;
}

.human {
    background: linear-gradient(90deg, var(--white) 10%, var(--pink));
    width: 40%;
    padding: 16px;
    font-size: 0.8em;
    border-radius: 0 24px 24px 0;
    text-align: right;
}

.details {
    display: flex;
    justify-content: space-between;
    color: var(--gray);
}

.why_hybrid_container {
    display: flex;
    gap: 16px;
}

.why_hybrid_container > * {
    flex: 1;
}

.our_advantage_wrapper {
    margin-bottom: 160px;
}

.our_advantage_inner {
    display: flex;
    align-items: center;
    gap: 24px;

    > * {
        flex: 1;
    }

    h3 {
        font-size: 1.5em;
        margin-bottom: 16px;
    }

    p {
        line-height: 1.5em;
    }
}

.company {
    box-shadow: var(--black_shadow);
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: var(--white);
    border-radius: 8;

    .line {
        border: 1px solid #DDDDDD;
    }

    > p {
        font-size: 0.75em;
        background-color: #E2EFFD;
        border-radius: 8px;
        padding: 16px;
        line-height: 2em;
    }
}

.asikaze, .ansel {
    display: flex;
    gap: 16px;
    align-items: center;

    h4 {
        font-size: 1.25em;
    }

    p {
        font-size: 0.75em;
    }
}


.role_wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 40px;
}

.talent_pool_wrapper {
    margin-bottom: 160px;
}

.others_wrapper {
    margin-bottom: 160px;
}

.others_card_container {
    display: flex;
    gap: 16px;
    margin-top: 40px;
}

.others_card_container > * {
    flex: 1;
}

.others_card {
    background-color: var(--white);
    padding: 16px;
    border-radius: 8;
    border: 1px solid var(--black);
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.title {
    font-size: 1.5em;
}

.text {
    font-size: 0.75em;
    line-height: 2em;
}

.others_card_blue {
    background: linear-gradient(45deg, #1571DA, #43A7F5);
    padding: 16px;
    border-radius: 8;
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: var(--white);
}

.cta {
    width: 100%;
    background: linear-gradient(45deg, #3E5FDA, #223EA4);
    color: var(--white);
    padding: 24px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.cta_title {
    font-size: 1.5em;
}

.cta_btn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: var(--white);
    background-image: linear-gradient(45deg, #319F8A, #35CCB0);
    position: relative;
    border-radius: 24;
    transition: color 0.5s ease;
    height: fit-content;
    padding: 12px 24px;
    width: fit-content;

    &:hover {
        color: #319F8A;
    }

    &:hover::before {
        transform: scaleX(1);
        transform-origin: left;
    }

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background: var(--white);
        transform: scaleX(0);
        transform-origin: right;
        transition: all 0.5s ease;
        transition-property: transform;
        border-radius: 24;
    }
}

.cta_btn_text {
    position: relative;
    font-weight: 600;
}
